@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
}



.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.card-img {
    width: 100%;
}



.image_3 {
    position: relative;
    padding-top: 0px;
    padding-right: 0px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.image_3:hover .middle {
    opacity: 10;
    
}








.text-center {
    text-align: center !important;
}

.buttonback{
    padding: 0;
    border: none;
    background: none;
    
}

.back-katalog{
    margin-left: -60px;
    border-radius: 5px;
    margin-bottom: -80px;
    max-width: 2%;
   
}


@media (max-width: 700px) {
    .back-katalog{
       
        border-radius: 5px;
        max-width: 2%;
       
    }
    
}


@media (max-width: 700px) {
    .img-fluid {
        max-width: 400px;
        max-height: 550px;
        float: center;
        
    }
    
}

.jumlah{
    margin-top: -20px;
}

.img-fluid {
    max-width: 400px;
    max-height: 550px;
    float: center;
    
}

.judulbuku {
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
}

.judular{
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 20px;
    margin-top: -10px;
    color: grey;
}

.kecil {
    font-family: "Times New Roman", Times, serif;
    font-size: 25px;
    text-align: left;
}

.penerbit {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    text-align: left;
    font-style: italic;
    color: grey;
    margin-top: 10px;
}

.callnum {
    font-family: "Times New Roman", Times, serif;
    font-size: 17px;
    margin-top: 10px;
    text-align: left;
    font-style: italic;
    color: grey;
   
}

.tahun {
    font-family: "Times New Roman", Times, serif;
    font-size: 15px;
    margin-bottom: -5px;
    text-align: left;
    font-style: italic;
    color: grey;
   
}


.judul-buku{
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    text-decoration: none;
    color: black;
}
.penulis-buku{
    font-family: "Times New Roman", Times, serif;
    
    text-decoration: none;
    color: black;
    padding-bottom: -20px;
}

.footer {
    background: #152f4f;
    color: white;
}

.total {
    font-size: 40px;
    font-weight: bold;
    color: #df9911;
    text-align: center;
    padding-top: 20px;
}
.tot {
    font-size: 20px;
    font-weight: 500;
    color: #d08f0c;
    text-align: center;
}

h6{
    color: #df9911;;
}
.kotak {
    width: 200px;
    height: 130px;
    background-color: #152f4f !important;
}

.cari{
    text-decoration: none;
    font-family: montserrat;
    color:white;
    padding: 10px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: green;
    
}
 

.cari:hover{
   

    background-color: #ffc107;
   
}



.form-controll{
    font-family: montserrat;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 5px;
    border-color: lightgrey;
  
}


h1 {
    font-family: Montserrat;
    color: gray;
    text-align: center;
    font-size: 50px;
    margin-bottom: -3px;
    font-weight: 700;
}