body,
html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: #680079;
}

.container-fluid {
    height: 100vh;
}

.register-card {
    border-radius: 1rem;
    height: 400px;
    width: 800px;
    background-color: white;
}

.register-text {
    font-size: 24px;
    font-weight: 600;
}

.form-card-container {
    height: 400px;
}

.form-card {
    width: 320px;
}

.icon {
    font-size: 16px;
    padding: 0.4rem;
}

.submit {
    font-weight: 600;
}
