@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer {
    margin-top: auto;
}

/* navbar */

@media (max-width: 700px) {
    .Webnama {
        position: relative;
        text-align: center;
        margin-right: 90px;
        margin-left: -70px;
        white-space: pre-line;
    }

    .logo {
        margin-top: -15px;
        margin-left: -35px;
        object-position: center;
        width: 80px;
        margin-right: 100%;
    }
}

.Webnama {
    position: absolute;
    margin-top: -50px;
    padding-left: 120px;
    margin-bottom: 5px;
    font-size: 115%;
    font-weight: 550;
    color: white;
}

.nav-link {
    font-family: poppins;
    font-weight: lighter;
}

/* dropdown */
.dropdown-menu {
    font-family: poppins;
    font-weight: lighter;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}
/* end */

.navbar {
    height: 70px;
    width: 100%;
    padding: 20px 30px;
    background-color: #680079;
    position: relative;
}

.navbar-title {
    color: white;
}

.nav-link {
    color: white !important;
}

.head-news {
    text-decoration: none;

    font-weight: bold;
    font-size: 150%;
}

.img-fluid-post {
    max-width: 100%;
    border-radius: 5px;
}

.pic-detail {
    max-width: 85%;
    border-radius: 5px;
}
/* judul artikel */
.text-judul {
    font-family: montserrat;
    text-decoration: none;
    /* font-size: 180%; */
    font-size: 18px;
    font-weight: bold;
    color: #680079;
    letter-spacing: 0px;
    line-height: 25px;
}

.text-judul:hover {
    color: #ffcc01;
    transition: all 0.2s ease-in;
}

.text-judul-detail {
    font-family: montserrat;
    text-decoration: none;
    font-size: 180%;
    font-weight: bold;
    color: black;
    letter-spacing: 0px;
    line-height: 40px;
}

.time-news {
    max-width: 555px;
    font-family: poppins;
    text-decoration: none;
    color: grey;
    font-size: 85%;
}

ion-icon {
    padding-right: 3px;
    padding-left: 8px;
}
.time-news:hover {
    color: #680079;
}

.head-news {
    font-size: 180%;
    color: #680079;
    border-bottom: 5px solid #ffcc01;
    padding-right: 30px;
}

.head-side {
    font-weight: bold;
    padding-top: 50px;
    color: #680079;
    border-bottom: 5px solid #ffcc01;
    padding-right: 30px;
    border-width: 5px;
}

/* selengkapnya button */
.btn-detail {
    text-decoration: none;
    color: grey;
}

.btn-detail:hover {
    color: white;
    transition: opacity 1s ease-in-out;
}
/* end */

.img-side-news {
    max-width: 100%;
}

.keterangan-detail {
    font-family: montserrat;
    font-size: 14px;
    line-height: 30px;
}

.keterangan {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: montserrat;
    font-size: 14px;
}

.ket-side {
    font-family: montserrat;
    text-decoration: none;
    font-size: 80%;
    line-height: 17px;
    color: black;
}

.link-side {
    font-family: montserrat;
    text-decoration: underline grey;
    font-size: 80%;
    line-height: 17px;
    color: grey;
    font-weight: bolder;
}

.link-side:hover {
    color: #680079;
}

/* Profil */
.profil {
    text-align: justify;
    font-family: montserrat;
    font-size: 14px;
    line-height: 25px;
}

.profil-list {
    text-align: justify;
    font-family: montserrat;
    font-size: 14px;
    line-height: 170%;
}

.tatatertib {
    text-align: justify;
    font-family: montserrat;
    line-height: 30px;
    font-size: 14px;
    margin-top: 20px;
}

ul.none-dot {
    list-style-type: none;
}

.kubuku {
    border: solid;
    border-radius: 5px;
    padding: 3px;
    text-decoration: none;
    color: #680079;
}
.kubuku:hover {
    color: #ffcc01;
    padding: 4px;
    transition: all 0.1s ease-in;
}

.text-judul-profil {
    font-family: montserrat;
    line-height: 50px;
    text-decoration: none;
    font-size: 140%;
    font-weight: bold;
    color: black;
    letter-spacing: 0px;
    line-height: 25px;
}
/* end */

.footer-box {
    padding-top: -850px;
}

.title-profil {
    color: #ffcc01;
}

.back-katalog {
    width: 40px;
    height: 40px;
    
}
